<% include blocks/header.ejs %>
		
		<!-- Contact -->
		<section id="contact-us">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h3>Verify <span>User</span></h3>
						</div>
					</div>
				</div>
			</div>
		
		
		
			<div class="contact">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						
							<form id="contactform" action="" method ="post" class="validateform" name="send-contact">
								<div class="row">
									<div class="col-lg-4 field">
										<input type="text" name="otp" placeholder="Your OTP" data-rule="otp" data-msg="Please enter a valid otp" />
										<div class="validation">
										</div>
									</div>
									
										<p>
											<button class="btn btn-info" type="submit">Verify User</button>
											
										</p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>		
		<!-- Contact -->
		
<% include blocks/footer.ejs %>